{% extends 'base.html.twig' %}

{% block body %}
    <h1>Compra</h1>

    {{ form_start(formCompra) }}
        {{ form_widget(formCompra) }}
        <input type="submit" value="Create" />
    {{ form_end(formCompra) }}

     <h1>Venda</h1>

    {{ form_start(formVenda) }}
        {{ form_widget(formVenda) }}
        <input type="submit" value="Create" />
    {{ form_end(formVenda) }}

{% endblock %}
